## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

## IDE
.vs/
.vscode/
*.sln.docstates

## User-specific
*.rsuser
*.userosscache

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Build outputs
publish/
publish-standalone/
installer-output/

## Misc
*.log
*.tmp
